{% extends 'main.html' %}
{% load static %}

{% block title %}
	International Law
{% endblock %}

{% block content %}
    <div class="container">
        <img src="{% static 'army.jpg' %}" class="thumbnail" alt="Cinque Terre">
        <caption>
            <p style="text-size-adjust: unset">
                Uruguayan peacekeepers with MONUSCO, whose mission was to protect commercial navigation against piracy and armed groups,
                are shown practicing a ship-boarding exercise on Tanganyika Lake near Uvira, South Kivu, Democratic Republic of Congo (2012).
                The Convention on the Sustainable Management of Lake Tanganyika (an agreement between the Republic of Burundi, Democratic Republic of Congo,
                United Republic of Tanzania and Republic of Zambia) established the Lake Tanganyika Authority, which has international legal personality and legal capacity.
                This was created to protect and conserve the biological diversity and sustainable use of the natural resources of Lake Tanganyika. UN Photo/Sylvain Liechti
            </p>
        </caption>
    </div>
    <div class="row-cols-1">
        <div class="container">
            <div class="card" style="width: 800px">
                    <h6>
                        The UN Charter, in its Preamble, set an objective: "to establish conditions under which justice and respect for the obligations arising from treaties and other sources of international law can be maintained".
                        Ever since, the development of, and respect for international law has been a key part of the work of the Organization.
                        This work is carried out in many ways - by courts, tribunals, multilateral treaties - and by the Security Council, which can approve peacekeeping missions, impose sanctions,
                        or authorize the use of force when there is a threat to international peace and security, if it deems this necessary. These powers are given to it by the UN Charter, which is considered an international treaty.
                        As such, it is an instrument of international law, and UN Member States are bound by it.
                    </h6>
            </div>
        </div>
    <div class="row-cols-1">
        <img src="{% static 'bmt.jpg' %}" alt="bmt_logo" width="400">
    </div>
    </div>
{% endblock %}